In [2]:
import numpy as np
import pandas as pd
import sklearn

In [3]:
df = pd.read_csv("../data/abalone.data", delimiter=" ", header=None)
df

      0      1      2      3       4       5       6       7   8
0     M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.1500  15
1     M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700   7
2     F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100   9
3     M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550  10
4     I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550   7
...  ..    ...    ...    ...     ...     ...     ...     ...  ..
4172  F  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4173  M  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4174  M  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4175  F  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4176  M  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

[4177 rows x 9 columns]

In [4]:
from sklearn.neighbors import KNeighborsRegressor
X = df.iloc[:, 1:8]
y = df.iloc[:,[8]]
y = y.astype('float64')
neigh = KNeighborsRegressor(n_neighbors=20, algorithm='brute')
neigh.fit(X,y)
test_1 = [[0.71, 0.555,0.195,1.9485,0.9455,0.3765,0.4]]
print(neigh.predict(test_1))
l = neigh.kneighbors(test_1, n_neighbors=20, return_distance=False)
df.iloc[l[0]][8].sum() / 20

[[11.05]]

11.05

In [29]:
from sklearn.cluster import KMeans
X = df.iloc[:, 1:]
kmeans = KMeans(n_clusters=5, init=[
    [0.455,0.365,0.095,0.514,0.2245,0.101,0.15,15],
[0.45,0.35,0.13,0.547,0.245,0.1405,0.1405,8],
[0.61,0.485,0.15,1.2405,0.6025,0.2915,0.3085,12],
[0.34,0.255,0.075,0.18,0.0745,0.04,0.0525,6],
[0.54,0.435,0.145,0.97,0.4285,0.22,0.264,17]
], max_iter=1).fit(X)
kmeans.cluster_centers_

/opt/homebrew/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(
/opt/homebrew/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1362: RuntimeWarning: Explicit initial center position passed: performing only one init in KMeans instead of n_init=10.
  super()._check_params_vs_input(X, default_n_init=10)

array([[ 0.57185654,  0.45206751,  0.16103376,  1.02732068,  0.40047046,
         0.22461392,  0.3168038 , 14.51898734],
       [ 0.51538912,  0.39926273,  0.13380339,  0.71296255,  0.32291106,
         0.15602458,  0.20012932,  8.58806319],
       [ 0.60283096,  0.47330217,  0.16370232,  1.16438893,  0.5082442 ,
         0.25611219,  0.32877711, 11.22513089],
       [ 0.3342535 ,  0.25070762,  0.08265941,  0.2083507 ,  0.09411586,
         0.0448196 ,  0.06151788,  5.86314152],
       [ 0.60348606,  0.47900398,  0.17492032,  1.23095817,  0.45526892,
         0.25186853,  0.40383267, 18.31474104]])